#define NORMAL 4
#define INSERT 5

/ {
    macros {
        // Macro to simulate 'ciw' - Change Inner Word
        macro_ciw {
            label = "Change Inner Word";
            bindings = <&kp LSHFT &kp LEFT &kp C_CUT &mo INSERT>;
        };

        // Macro to simulate 'dw' - Delete Word
        macro_dw {
            label = "Delete Word";
            bindings = <&kp LSHFT &kp RIGHT &kp C_CUT>;
        };

        // Macro to simulate 'yy' - Yank Line
        macro_yy {
            label = "Yank Line";
            bindings = <&kp HOME &kp LSHFT &kp END &kp C_COPY>;
        };
    };

    combos {
        insert_mode_exit_combo {
            timeout-ms = <50>;
            key-positions = <INSERT_LAYER_J INSERT_LAYER_K>;
            bindings = <&mo NORMAL>;
        };
    };

    keymap {
        normal_layer {
            display-name = "normal";
            bindings = <
                &kp ESC   &macro_yy   &kp NONE &kp NONE &kp NONE &kp NONE          &none    &none    &none    &none    &kp DEL  &none
                &none     &kp LEFT    &kp DOWN &kp UP   &kp RIGHT &none           &kp HOME &kp PG_DN &kp PG_UP &kp END   &none    &none
                &macro_dw &macro_ciw  &kp NONE &kp NONE &kp NONE  &none           &none    &none    &none    &none    &none     &none     &none  &none
                                  &none      &none      &none      &none         &none    &none    &none    &none    &none
            >;
        };

        insert_layer {
            display-name = "insert";
            bindings = <
                &kp GRAVE &kp N1   &kp N2   &kp N3   &kp N4   &kp N5                  &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &none
                &kp ESC   &kp Q    &kp W    &kp E    &kp R    &kp T                  &kp Y  &kp U  &kp I  &kp O  &kp P  &kp BSPC
                &kp TAB   &kp A    &kp S    &kp D    &kp F    &kp G                  &kp H  &kp J  &kp K  &kp L  &kp SEMI &kp SQT
                &kp LSHFT &kp Z    &kp X    &kp C    &kp V    &kp B  &kp C_MUTE &none &kp N &kp M &kp COMMA &kp DOT &kp FSLH &kp RSHFT
                                  &kp LGUI &kp LALT &kp LCTRL &mo NORMAL &kp RET    &kp SPACE  &mo NORMAL &kp RCTRL &kp RALT &kp RGUI
            >;
        };
    };
};
